<table width=100%>
<tbody>
<tr align="center"><th id='pageTitle'>Lloyd's <%= Recipe.count %> Recipe Search</th></tr>
<tr align="center">
<td>Enter keywords: <input type=text id='keyWords' value='' size=40 onchange="<%= remote_function(
   	   :update => "searchResults",
   	   :url =>{ :controller => 'recipes',  :action => :queryRender}, :with=> "'keyWords=' + escape(keyWords.value)" )%>">
</td></tr>
<tr align="center"><td>e.g. <b>fruit crumble</b> or <b>scallop pasta</b> or <b>broad beans</b> or <b>ramsay</b></td></tr>
<tr>
<td>
  <div id="searchResults" style="HEIGHT: 100%; overflow-y: auto;"></div>
</td>
</tr>
</tbody>
</table>
<div id="traceWindow" style="HEIGHT: 200px; overflow:auto; font-size:75%"></div>


